.card{
    width:50%;
    margin-left: 14em;
    margin-top: 9em;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding-bottom: 2em;
}
.card-body{
    margin-left: 2em;
    margin-right: 2em;
}