<app-header></app-header>
<div #contentToConvert>
    <div class="container">

        <div class="col mt-2 mb-5">
            <h2><i class="fa fa-align-left"></i><span id="lbljobid" class="blue"><strong> student Information
                    </strong></span></h2>
        </div>
        <div class="card">
            <div class="row m-3">
                <div class="col mt-5">
                    <div class="row">
                        <div class="col-4 head d-flex justify-content-start ">
                            fname
                        </div>
                        <div class="col d-flex justify-content-start ">
                            : {{fname}}
                        </div>
                    </div>
                    <div class="row  mt-5">
                        <div class="col-4 head d-flex justify-content-start ">
                            lname
                        </div>
                        <div class="col d-flex justify-content-start ">
                            : {{lname}}
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-4 head d-flex justify-content-start">
                            Mname
                        </div>
                        <div class="col d-flex justify-content-start break">
                            : {{Mname}}
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-4 head d-flex justify-content-start ">
                            email
                        </div>
                        <div class="col d-flex justify-content-start ">
                            : {{email}}
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-4 head d-flex justify-content-start ">
                            PhoneNumber
                        </div>
                        <div class="col d-flex justify-content-start ">
                            : {{PhoneNumber}}
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-4 head d-flex justify-content-start ">
                            Address2
                        </div>
                        <div class="col d-flex justify-content-start ">
                            : {{Address2}}
                        </div>
                    </div>
                </div>
                <div class="col mt-5">
                    <div class="row ">
                        <div class="col-4 head d-flex justify-content-start">
                            Gender
                        </div>
                        <div class="col d-flex justify-content-start">
                            : {{Gender}}
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-4 head d-flex justify-content-start">
                            Pincode
                        </div>
                        <div class="col d-flex justify-content-start">
                            : {{Pincode}}
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-4 head d-flex justify-content-start">
                            Date
                        </div>
                        <div class="col d-flex justify-content-start break">
                            : {{Date}}
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-4 head d-flex justify-content-start ">
                            state
                        </div>
                        <div class="col d-flex justify-content-start ">
                            : {{state}}
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-4 head d-flex justify-content-start ">
                            Fees
                        </div>
                        <div class="col d-flex justify-content-start ">
                            : {{fees}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8">

    </div>
    <div class="col-2 mt-2" style="margin-left: 10em;">
        <button  type="button" class="btn btn-primary" (click)="generatePdf(contentToConvert)">Download PDF</button>
    </div>
</div>


